<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="project.jinshang.mod_product.ProductAttrMapper" >
  <resultMap id="BaseResultMap" type="project.jinshang.mod_product.bean.ProductAttr" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="productid" property="productid" jdbcType="BIGINT" />
    <result column="attributeid" property="attributeid" jdbcType="BIGINT" />
    <result column="attribute" property="attribute" jdbcType="VARCHAR" />
    <result column="value" property="value" jdbcType="VARCHAR" />
    <result column="pdno" property="pdno" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, productid, attributeid, attribute, value, pdno
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="project.jinshang.mod_product.bean.ProductAttrExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from productattr
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from productattr
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from productattr
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="project.jinshang.mod_product.bean.ProductAttrExample" >
    delete from productattr
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="project.jinshang.mod_product.bean.ProductAttr" >
    insert into productattr ( productid, attributeid,
      attribute, value, pdno
      )
    values ( #{productid,jdbcType=BIGINT}, #{attributeid,jdbcType=BIGINT},
      #{attribute,jdbcType=VARCHAR}, #{value,jdbcType=VARCHAR}, #{pdno,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="project.jinshang.mod_product.bean.ProductAttr" >
    insert into productattr
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="productid != null" >
        productid,
      </if>
      <if test="attributeid != null" >
        attributeid,
      </if>
      <if test="attribute != null" >
        attribute,
      </if>
      <if test="value != null" >
        value,
      </if>
      <if test="pdno != null" >
        pdno,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="productid != null" >
        #{productid,jdbcType=BIGINT},
      </if>
      <if test="attributeid != null" >
        #{attributeid,jdbcType=BIGINT},
      </if>
      <if test="attribute != null" >
        #{attribute,jdbcType=VARCHAR},
      </if>
      <if test="value != null" >
        #{value,jdbcType=VARCHAR},
      </if>
      <if test="pdno != null" >
        #{pdno,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="project.jinshang.mod_product.bean.ProductAttrExample" resultType="java.lang.Integer" >
    select count(*) from productattr
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update productattr
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.productid != null" >
        productid = #{record.productid,jdbcType=BIGINT},
      </if>
      <if test="record.attributeid != null" >
        attributeid = #{record.attributeid,jdbcType=BIGINT},
      </if>
      <if test="record.attribute != null" >
        attribute = #{record.attribute,jdbcType=VARCHAR},
      </if>
      <if test="record.value != null" >
        value = #{record.value,jdbcType=VARCHAR},
      </if>
      <if test="record.pdno != null" >
        pdno = #{record.pdno,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update productattr
    set id = #{record.id,jdbcType=BIGINT},
      productid = #{record.productid,jdbcType=BIGINT},
      attributeid = #{record.attributeid,jdbcType=BIGINT},
      attribute = #{record.attribute,jdbcType=VARCHAR},
      value = #{record.value,jdbcType=VARCHAR},
      pdno = #{record.pdno,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="project.jinshang.mod_product.bean.ProductAttr" >
    update productattr
    <set >
      <if test="productid != null" >
        productid = #{productid,jdbcType=BIGINT},
      </if>
      <if test="attributeid != null" >
        attributeid = #{attributeid,jdbcType=BIGINT},
      </if>
      <if test="attribute != null" >
        attribute = #{attribute,jdbcType=VARCHAR},
      </if>
      <if test="value != null" >
        value = #{value,jdbcType=VARCHAR},
      </if>
      <if test="pdno != null" >
        pdno = #{pdno,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="project.jinshang.mod_product.bean.ProductAttr" >
    update productattr
    set productid = #{productid,jdbcType=BIGINT},
      attributeid = #{attributeid,jdbcType=BIGINT},
      attribute = #{attribute,jdbcType=VARCHAR},
      value = #{value,jdbcType=VARCHAR},
      pdno = #{pdno,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>