<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="project.jinshang.mod_product.ShippingTemplatesMapper" >
  <resultMap id="BaseResultMap" type="project.jinshang.mod_product.bean.ShippingTemplates" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="temname" property="temname" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="area" property="area" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="isfree" property="isfree" jdbcType="SMALLINT" />
    <result column="counttype" property="counttype" jdbcType="SMALLINT" />
    <result column="defaultfreight" property="defaultfreight" jdbcType="NUMERIC" />
    <result column="defaultcost" property="defaultcost" jdbcType="NUMERIC" />
    <result column="perkilogramadded" property="perkilogramadded" jdbcType="NUMERIC" />
    <result column="perkilogramcost" property="perkilogramcost" jdbcType="NUMERIC" />
    <result column="memberid" property="memberid" jdbcType="BIGINT" />
    <result column="temtype" property="temtype" jdbcType="SMALLINT" />
    <result column="defaultfreeprice" property="defaultfreeprice" jdbcType="NUMERIC" />
    <result column="shopgroupid" property="shopgroupid" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, temname, province, city, area, address, isfree, counttype, defaultfreight, defaultcost, 
    perkilogramadded, perkilogramcost, memberid, temtype, defaultfreeprice, shopgroupid
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="project.jinshang.mod_product.bean.ShippingTemplatesExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from shippingtemplates
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from shippingtemplates
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from shippingtemplates
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="project.jinshang.mod_product.bean.ShippingTemplatesExample" >
    delete from shippingtemplates
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="project.jinshang.mod_product.bean.ShippingTemplates" useGeneratedKeys="true" keyProperty="id">
    insert into shippingtemplates ( temname, province,
      city, area, address, 
      isfree, counttype, defaultfreight, 
      defaultcost, perkilogramadded, perkilogramcost, 
      memberid, temtype, defaultfreeprice, 
      shopgroupid)
    values ( #{temname,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR},
      #{city,jdbcType=VARCHAR}, #{area,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{isfree,jdbcType=SMALLINT}, #{counttype,jdbcType=SMALLINT}, #{defaultfreight,jdbcType=NUMERIC}, 
      #{defaultcost,jdbcType=NUMERIC}, #{perkilogramadded,jdbcType=NUMERIC}, #{perkilogramcost,jdbcType=NUMERIC}, 
      #{memberid,jdbcType=BIGINT}, #{temtype,jdbcType=SMALLINT}, #{defaultfreeprice,jdbcType=NUMERIC}, 
      #{shopgroupid,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="project.jinshang.mod_product.bean.ShippingTemplates" >
    insert into shippingtemplates
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="temname != null" >
        temname,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="area != null" >
        area,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="isfree != null" >
        isfree,
      </if>
      <if test="counttype != null" >
        counttype,
      </if>
      <if test="defaultfreight != null" >
        defaultfreight,
      </if>
      <if test="defaultcost != null" >
        defaultcost,
      </if>
      <if test="perkilogramadded != null" >
        perkilogramadded,
      </if>
      <if test="perkilogramcost != null" >
        perkilogramcost,
      </if>
      <if test="memberid != null" >
        memberid,
      </if>
      <if test="temtype != null" >
        temtype,
      </if>
      <if test="defaultfreeprice != null" >
        defaultfreeprice,
      </if>
      <if test="shopgroupid != null" >
        shopgroupid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="temname != null" >
        #{temname,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        #{area,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="isfree != null" >
        #{isfree,jdbcType=SMALLINT},
      </if>
      <if test="counttype != null" >
        #{counttype,jdbcType=SMALLINT},
      </if>
      <if test="defaultfreight != null" >
        #{defaultfreight,jdbcType=NUMERIC},
      </if>
      <if test="defaultcost != null" >
        #{defaultcost,jdbcType=NUMERIC},
      </if>
      <if test="perkilogramadded != null" >
        #{perkilogramadded,jdbcType=NUMERIC},
      </if>
      <if test="perkilogramcost != null" >
        #{perkilogramcost,jdbcType=NUMERIC},
      </if>
      <if test="memberid != null" >
        #{memberid,jdbcType=BIGINT},
      </if>
      <if test="temtype != null" >
        #{temtype,jdbcType=SMALLINT},
      </if>
      <if test="defaultfreeprice != null" >
        #{defaultfreeprice,jdbcType=NUMERIC},
      </if>
      <if test="shopgroupid != null" >
        #{shopgroupid,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="project.jinshang.mod_product.bean.ShippingTemplatesExample" resultType="java.lang.Integer" >
    select count(*) from shippingtemplates
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update shippingtemplates
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.temname != null" >
        temname = #{record.temname,jdbcType=VARCHAR},
      </if>
      <if test="record.province != null" >
        province = #{record.province,jdbcType=VARCHAR},
      </if>
      <if test="record.city != null" >
        city = #{record.city,jdbcType=VARCHAR},
      </if>
      <if test="record.area != null" >
        area = #{record.area,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null" >
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.isfree != null" >
        isfree = #{record.isfree,jdbcType=SMALLINT},
      </if>
      <if test="record.counttype != null" >
        counttype = #{record.counttype,jdbcType=SMALLINT},
      </if>
      <if test="record.defaultfreight != null" >
        defaultfreight = #{record.defaultfreight,jdbcType=NUMERIC},
      </if>
      <if test="record.defaultcost != null" >
        defaultcost = #{record.defaultcost,jdbcType=NUMERIC},
      </if>
      <if test="record.perkilogramadded != null" >
        perkilogramadded = #{record.perkilogramadded,jdbcType=NUMERIC},
      </if>
      <if test="record.perkilogramcost != null" >
        perkilogramcost = #{record.perkilogramcost,jdbcType=NUMERIC},
      </if>
      <if test="record.memberid != null" >
        memberid = #{record.memberid,jdbcType=BIGINT},
      </if>
      <if test="record.temtype != null" >
        temtype = #{record.temtype,jdbcType=SMALLINT},
      </if>
      <if test="record.defaultfreeprice != null" >
        defaultfreeprice = #{record.defaultfreeprice,jdbcType=NUMERIC},
      </if>
      <if test="record.shopgroupid != null" >
        shopgroupid = #{record.shopgroupid,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update shippingtemplates
    set id = #{record.id,jdbcType=BIGINT},
      temname = #{record.temname,jdbcType=VARCHAR},
      province = #{record.province,jdbcType=VARCHAR},
      city = #{record.city,jdbcType=VARCHAR},
      area = #{record.area,jdbcType=VARCHAR},
      address = #{record.address,jdbcType=VARCHAR},
      isfree = #{record.isfree,jdbcType=SMALLINT},
      counttype = #{record.counttype,jdbcType=SMALLINT},
      defaultfreight = #{record.defaultfreight,jdbcType=NUMERIC},
      defaultcost = #{record.defaultcost,jdbcType=NUMERIC},
      perkilogramadded = #{record.perkilogramadded,jdbcType=NUMERIC},
      perkilogramcost = #{record.perkilogramcost,jdbcType=NUMERIC},
      memberid = #{record.memberid,jdbcType=BIGINT},
      temtype = #{record.temtype,jdbcType=SMALLINT},
      defaultfreeprice = #{record.defaultfreeprice,jdbcType=NUMERIC},
      shopgroupid = #{record.shopgroupid,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="project.jinshang.mod_product.bean.ShippingTemplates" >
    update shippingtemplates
    <set >
      <if test="temname != null" >
        temname = #{temname,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        area = #{area,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="isfree != null" >
        isfree = #{isfree,jdbcType=SMALLINT},
      </if>
      <if test="counttype != null" >
        counttype = #{counttype,jdbcType=SMALLINT},
      </if>
      <if test="defaultfreight != null" >
        defaultfreight = #{defaultfreight,jdbcType=NUMERIC},
      </if>
      <if test="defaultcost != null" >
        defaultcost = #{defaultcost,jdbcType=NUMERIC},
      </if>
      <if test="perkilogramadded != null" >
        perkilogramadded = #{perkilogramadded,jdbcType=NUMERIC},
      </if>
      <if test="perkilogramcost != null" >
        perkilogramcost = #{perkilogramcost,jdbcType=NUMERIC},
      </if>
      <if test="memberid != null" >
        memberid = #{memberid,jdbcType=BIGINT},
      </if>
      <if test="temtype != null" >
        temtype = #{temtype,jdbcType=SMALLINT},
      </if>
      <if test="defaultfreeprice != null" >
        defaultfreeprice = #{defaultfreeprice,jdbcType=NUMERIC},
      </if>
      <if test="shopgroupid != null" >
        shopgroupid = #{shopgroupid,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="project.jinshang.mod_product.bean.ShippingTemplates" >
    update shippingtemplates
    set temname = #{temname,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      area = #{area,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      isfree = #{isfree,jdbcType=SMALLINT},
      counttype = #{counttype,jdbcType=SMALLINT},
      defaultfreight = #{defaultfreight,jdbcType=NUMERIC},
      defaultcost = #{defaultcost,jdbcType=NUMERIC},
      perkilogramadded = #{perkilogramadded,jdbcType=NUMERIC},
      perkilogramcost = #{perkilogramcost,jdbcType=NUMERIC},
      memberid = #{memberid,jdbcType=BIGINT},
      temtype = #{temtype,jdbcType=SMALLINT},
      defaultfreeprice = #{defaultfreeprice,jdbcType=NUMERIC},
      shopgroupid = #{shopgroupid,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>