<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="project.jinshang.mod_coupon.YhqRecordMapper" >

    <resultMap id="BaseResultMap" type="project.jinshang.mod_coupon.bean.YhqRecord" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="ticketid" property="ticketid" jdbcType="BIGINT" />
        <result column="ticketno" property="ticketno" jdbcType="VARCHAR" />
        <result column="tickettype" property="tickettype" jdbcType="BIGINT" />
        <result column="discountmoney" property="discountmoney" jdbcType="NUMERIC" />
        <result column="discountpercent" property="discountpercent" jdbcType="NUMERIC" />
        <result column="memberid" property="memberid" jdbcType="BIGINT" />
        <result column="ordersid" property="ordersid" jdbcType="BIGINT" />
        <result column="ordersno" property="ordersno" jdbcType="VARCHAR" />
        <result column="usetime" property="usetime" jdbcType="TIMESTAMP" />
    </resultMap>

    <sql id="Example_Where_Clause" >
        <where >
            <foreach collection="oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Update_By_Example_Where_Clause" >
        <where >
            <foreach collection="example.oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Base_Column_List" >
        id, ticketid, ticketno, tickettype, discountmoney, discountpercent, memberid, ordersid, 
        ordersno, usetime
    </sql>

    <select id="selectByExample" resultMap="BaseResultMap" parameterType="project.jinshang.mod_coupon.bean.YhqRecordExample" >
        select
        <if test="distinct" >
            distinct
        </if>
        'true' as QUERYID,
        <include refid="Base_Column_List" />
        from public.yhq_record
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null" >
            order by ${orderByClause}
        </if>
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select 
        <include refid="Base_Column_List" />
        from public.yhq_record
        where id = #{id,jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
        delete from public.yhq_record
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <delete id="deleteByExample" parameterType="project.jinshang.mod_coupon.bean.YhqRecordExample" >
        delete from public.yhq_record
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </delete>

    <insert id="insert" parameterType="project.jinshang.mod_coupon.bean.YhqRecord" >
        insert into public.yhq_record (id, ticketid, ticketno, 
            tickettype, discountmoney, discountpercent, 
            memberid, ordersid, ordersno, 
            usetime)
        values (#{id,jdbcType=BIGINT}, #{ticketid,jdbcType=BIGINT}, #{ticketno,jdbcType=VARCHAR}, 
            #{tickettype,jdbcType=BIGINT}, #{discountmoney,jdbcType=NUMERIC}, #{discountpercent,jdbcType=NUMERIC}, 
            #{memberid,jdbcType=BIGINT}, #{ordersid,jdbcType=BIGINT}, #{ordersno,jdbcType=VARCHAR}, 
            #{usetime,jdbcType=TIMESTAMP})
    </insert>

    <insert id="insertSelective" parameterType="project.jinshang.mod_coupon.bean.YhqRecord" useGeneratedKeys="true" keyProperty="id">
        insert into public.yhq_record
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="ticketid != null" >
                ticketid,
            </if>
            <if test="ticketno != null" >
                ticketno,
            </if>
            <if test="tickettype != null" >
                tickettype,
            </if>
            <if test="discountmoney != null" >
                discountmoney,
            </if>
            <if test="discountpercent != null" >
                discountpercent,
            </if>
            <if test="memberid != null" >
                memberid,
            </if>
            <if test="ordersid != null" >
                ordersid,
            </if>
            <if test="ordersno != null" >
                ordersno,
            </if>
            <if test="usetime != null" >
                usetime,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=BIGINT},
            </if>
            <if test="ticketid != null" >
                #{ticketid,jdbcType=BIGINT},
            </if>
            <if test="ticketno != null" >
                #{ticketno,jdbcType=VARCHAR},
            </if>
            <if test="tickettype != null" >
                #{tickettype,jdbcType=BIGINT},
            </if>
            <if test="discountmoney != null" >
                #{discountmoney,jdbcType=NUMERIC},
            </if>
            <if test="discountpercent != null" >
                #{discountpercent,jdbcType=NUMERIC},
            </if>
            <if test="memberid != null" >
                #{memberid,jdbcType=BIGINT},
            </if>
            <if test="ordersid != null" >
                #{ordersid,jdbcType=BIGINT},
            </if>
            <if test="ordersno != null" >
                #{ordersno,jdbcType=VARCHAR},
            </if>
            <if test="usetime != null" >
                #{usetime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <select id="countByExample" parameterType="project.jinshang.mod_coupon.bean.YhqRecordExample" resultType="java.lang.Integer" >
        select count(*) from public.yhq_record
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </select>

    <update id="updateByExampleSelective" parameterType="map" >
        update public.yhq_record
        <set >
            <if test="record.id != null" >
                id = #{record.id,jdbcType=BIGINT},
            </if>
            <if test="record.ticketid != null" >
                ticketid = #{record.ticketid,jdbcType=BIGINT},
            </if>
            <if test="record.ticketno != null" >
                ticketno = #{record.ticketno,jdbcType=VARCHAR},
            </if>
            <if test="record.tickettype != null" >
                tickettype = #{record.tickettype,jdbcType=BIGINT},
            </if>
            <if test="record.discountmoney != null" >
                discountmoney = #{record.discountmoney,jdbcType=NUMERIC},
            </if>
            <if test="record.discountpercent != null" >
                discountpercent = #{record.discountpercent,jdbcType=NUMERIC},
            </if>
            <if test="record.memberid != null" >
                memberid = #{record.memberid,jdbcType=BIGINT},
            </if>
            <if test="record.ordersid != null" >
                ordersid = #{record.ordersid,jdbcType=BIGINT},
            </if>
            <if test="record.ordersno != null" >
                ordersno = #{record.ordersno,jdbcType=VARCHAR},
            </if>
            <if test="record.usetime != null" >
                usetime = #{record.usetime,jdbcType=TIMESTAMP},
            </if>
        </set>
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByExample" parameterType="map" >
        update public.yhq_record
        set id = #{record.id,jdbcType=BIGINT},
            ticketid = #{record.ticketid,jdbcType=BIGINT},
            ticketno = #{record.ticketno,jdbcType=VARCHAR},
            tickettype = #{record.tickettype,jdbcType=BIGINT},
            discountmoney = #{record.discountmoney,jdbcType=NUMERIC},
            discountpercent = #{record.discountpercent,jdbcType=NUMERIC},
            memberid = #{record.memberid,jdbcType=BIGINT},
            ordersid = #{record.ordersid,jdbcType=BIGINT},
            ordersno = #{record.ordersno,jdbcType=VARCHAR},
            usetime = #{record.usetime,jdbcType=TIMESTAMP}
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="project.jinshang.mod_coupon.bean.YhqRecord" >
        update public.yhq_record
        <set >
            <if test="ticketid != null" >
                ticketid = #{ticketid,jdbcType=BIGINT},
            </if>
            <if test="ticketno != null" >
                ticketno = #{ticketno,jdbcType=VARCHAR},
            </if>
            <if test="tickettype != null" >
                tickettype = #{tickettype,jdbcType=BIGINT},
            </if>
            <if test="discountmoney != null" >
                discountmoney = #{discountmoney,jdbcType=NUMERIC},
            </if>
            <if test="discountpercent != null" >
                discountpercent = #{discountpercent,jdbcType=NUMERIC},
            </if>
            <if test="memberid != null" >
                memberid = #{memberid,jdbcType=BIGINT},
            </if>
            <if test="ordersid != null" >
                ordersid = #{ordersid,jdbcType=BIGINT},
            </if>
            <if test="ordersno != null" >
                ordersno = #{ordersno,jdbcType=VARCHAR},
            </if>
            <if test="usetime != null" >
                usetime = #{usetime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="updateByPrimaryKey" parameterType="project.jinshang.mod_coupon.bean.YhqRecord" >
        update public.yhq_record
        set ticketid = #{ticketid,jdbcType=BIGINT},
            ticketno = #{ticketno,jdbcType=VARCHAR},
            tickettype = #{tickettype,jdbcType=BIGINT},
            discountmoney = #{discountmoney,jdbcType=NUMERIC},
            discountpercent = #{discountpercent,jdbcType=NUMERIC},
            memberid = #{memberid,jdbcType=BIGINT},
            ordersid = #{ordersid,jdbcType=BIGINT},
            ordersno = #{ordersno,jdbcType=VARCHAR},
            usetime = #{usetime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>